<div class="div1">
  <img src="Logo - Árvore da Sorte.fundo transparente.png" alt="">
  <h1>BEM-VINDO AO SEU PORTAL RH</h1>
  <br> <br>
  <form (ngSubmit)="submitLogin()" #loginForm>
      <input type="text" class="matricula" id="username" [(ngModel)]="username" name="username" placeholder="Digite sua matrícula"  required>
      <br><br>
      
      <input type="password" class="senha" id="password" [(ngModel)]="password" name="password"  required>
      
      <br> <br>
      
      <button href="#" class="btnentrar">Entrar</button>
      <!--Aqui vai faltar backend para poder acessar o menu-->
      
      
      
      <a href="EsqueciSenha.html" class="esqueceusenha">Esqueci minha senha</a>
  </form>
</div>