<div class="container mt-4">
  <h1 class="text-center">Lista de Funcionários</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>Documentos</th>
          <th>Contatos</th>
          <!-- Outras colunas omitidas para simplificação -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios">
          <td>{{ funcionario.id }}</td>
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.dataNascimento }}</td>
    
          <td>{{ funcionario.contatos }}</td>
          <td> <button (click)="redirectToEdit(funcionario.id)">Editar</button></td>
          <!-- Outras colunas omitidas para simplificação -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="informacoes ">
  <h2>Dados do Funcionário</h2>
  <br>

  <!--OS ITENS ABAIXO VAI PRECISAR DO DB PARA PUXAR AS INFORMAÇOES CADASTRADAS PELA APLICAÇÃO DESKTOP-->
  <ul>
      <li><strong>Nome:</strong> <!--Conteudo do DB--></li>
      <li><strong>ID:</strong> <!--Conteudo do DB--></li>
      <li><strong>Cargo:</strong> <!--Conteudo do DB--></li>
      <li><strong>Data de Admissão:</strong><!--Conteudo do DB--></li>
  </ul>
</div>
