<!-- Cabeçalho -->
<header class="d-flex justify-content-center py-3 mb-4 border-bottom">
  <img src="assets/images/Logo-Arvore-da-Sorte.fundo-transparente.png" alt="" class="img-fluid" style="max-width: 200px;">
</header>

<!-- Navegação -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="folhapagamento.html">Consultar folha de pagamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Sair</a>
          <!--AQUI em "Sair" VAI FALTAR BACKEND PARA SAIR, POIS COLOCAR O LINK DA TELA DE LOGIN NÃO É SEGURO-->
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Conteúdo Principal -->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
<!-- Botão para Abrir o Popup -->

<!-- Rodapé -->
